*/bin/*
*/obj/*

Services/Identity/Identity.API/bin/*
Services/Identity/Identity.API/obj/*
Services/Identity/Identity.Domain/bin/*
Services/Identity/Identity.Domain/obj/*
Services/Identity/Identity.Infrastructure/bin/*
Services/Identity/Identity.Infrastructure/obj/*

Services/Device/Device.API/bin/*
Services/Device/Device.API/obj/*
Services/Device/Device.Domain/bin/*
Services/Device/Device.Domain/obj/*
Services/Device/Device.Infrastructure/bin/*
Services/Device/Device.Infrastructure/obj/*

.vs/*